html,body{
	width: 100%;
	height: 100%;
}
*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #fff;
}
.col-md-3, .col-xs-3{
	margin: 0;
	padding: 0;
}
.itemLists{
	margin: 0.5vh 1vw 0.5vh 2.5vw;
}
.itemList{

}
.list{
overflow: hidden;
}
.list ul{
	list-style: none;
}
.list>ul>li{
	width: 100%;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}
.list>ul>li p[class=title]{
	width: 100%;
	text-align: center;
	background: #32a9d1;
	line-height: 50px;
	padding: 0;
	border: none;
	position: relative;
}
.list>ul>li p[class=title]>span{
	position: absolute;
	right: 10%;
}
.list-se{
	overflow: hidden;
	display: none;
}
.list-se>p{
	background: #444 !important;
	color:#32a9d1;
}
.list-se>li{
	position: relative;
	right: -100%;
	-webkit-transition: right 0.5s;
	-moz-transition: right 0.5s;
	-o-transition: right 0.5s;
	transition: right 0.5s;
}
.list-se>li>p{
	background: #3b3b3b;
	color: #f0f0f0;
	height: 50px;
	-webkit-box-sizing :border-box;
	box-sizing :border-box;
	padding-left: 10px;
	line-height: 50px;
	border-left: 5px solid #3b3b3b;
	-webkit-transition: all .5s;
	transition: border .5s;
}
.list-se>li>p:hover{
	border-color: #32a9d1;
	background: #5b5b5b;
}
header{
	height: 8vh;
	font-size: 2.5vw;
	line-height: 8vh;
	text-align: center;
	border-bottom: 2px solid #f2f2f2;
	box-shadow: 1px 1px 1px #f2f2f2;
}
header span{
	font-size: 1.5vw;
	margin-left: 3vw;
}
.content{
	position: relative;
	height: 84vh;
	overflow: auto;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0.5vh 1vw;
	padding: 1vh 1vw;
}
.itemsContents{
	position: absolute;
	left: 0;
	top: 3vh;
	width: 97%;
	margin: 1vh ;
	background: #fff;
}
.mainShow{
	background: #f2f2f2;
	height: 75vh;
	z-index: 2;
}
.manageInfo{
	position: absolute;
	z-index: -1;
	top: 6vh;
	left: 3vw;
	width: 90%;
}
ul{
	margin: 0;
	padding: 0;
}
.itemsContents h3{
	margin: 0 0 0.5vh 0;
	padding-left: 0.5vw;
	font-size: 1.5vw;
	height: 5vh;
	line-height: 5vh;
	font-family: '黑体', Arial, Helvetica, sans-serif;
}
.itemsContents ul{
	list-style: none;
}
.itemsContents p{
	padding: 0.5vh 2vw;
}
.itemsContents .tableHead,.itemsContents .specialHead{
	overflow: hidden;
	background: #66A9BC;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.itemsContents .tableHead>li{
	float: left;
	padding: 1vh 2vw;
	width: 25%;
}
.itemsContents .specialHead>li{
	float: left;
	padding: 1vh 2vw;
	width: 50%;
}
.parames li> ul,.responds li> ul,.unusuals li> ul{
	overflow: hidden;
}
.parames li> ul>li,.responds li> ul>li{
	float: left;
	width: 25%;
	padding: 1vh 2vw;
}
.parames>li:nth-child(odd),.responds>li:nth-child(odd),.unusuals>li:nth-child(odd){
	background: #D6E9F0;
	transition: all 0.3s linear;
}
.parames>li:nth-child(even),.responds>li:nth-child(even),.unusuals>li:nth-child(even){
	background: #91C5D3;
	transition: all 0.3s linear;
}
.parames>li:hover, .responds>li:hover, .unusuals>li:hover{
	background: #CC99CC;
}
.unusuals li> ul>li{
	float: left;
	width: 50%;
	padding: 1vh 2vw;
}
.itemsContents>div{
	border-bottom: 1px dashed #f2f2f2;
	margin-bottom: 5vh;
	background: #f2f2f2;
}
/**目录样式**/
.path{
	padding: 0.5vh 0.5vw;
	border-bottom: 1px solid #f2f2f2;
}
.pathHome{
	font-weight: 600;
}
.pathUrl1{
	color: #32a9d1;
	font-size: 1.36vw;
	font-weight: 600;
}
.pathUrl2{
	color: #32a9d1;
	font-size: 0.8vw;
	font-weight: 600;
}
/*滚动条样式*/
::-webkit-scrollbar{
	width: 10px;
	height: 10px;
	background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
	border-radius: 10px;
	background-color: #F5F5F5;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.5);
	background-color: #555;
}
footer{
	height: 5vh;
	text-align: center;
	width: 98vw;
	line-height: 5vh;
	font-size: 0.8vw;
}
